* {
  font-family: "Open Sans";
}

body {
  background-color: #eee;
}

.container {
  margin: 80px auto;
}

.b1 {
  max-width: 1300px !important;
}

.card-title {
  font-family: Jost;
  font-weight: 300;
  padding: 3%;
}

.btn-sharp {
  border-radius: 0;
}

.btitle {
  font-family: Jost;
  font-weight: 300;
}

.bbody {
  padding: 20px 20px;
}
